---
import Navbar from "../components/Navbar.astro";
---

<body>
	<h1>Welcome to the Sean Star System</h1>
</body>
<Navbar />

<style>
	body {
		background-image: url("../../landingBg.jpeg");
		background-repeat: no-repeat;
		background-size: 100% 850%;
	}
</style>
