<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Sean Star System</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
        </style>
    </head>

    <body>
        <script src="script.js"></script>

        <h1 class="title">Welcome to the Sean Star System!</h1>

        <div class="sun"></div>

        <div class="mercury-contour">
            <div class="mercury">
                <p>Mercury</p>
            </div>
        </div>

        <div class="venus-contour">
            <a
                class="venus"
                href="https://github.com/gitSean23/Travel-Pal"
                target="_blank"
            >
                <p id="venus-text">Travel-Pal</p>
            </a>
        </div>

        <div class="earth-contour">
            <a
                class="earth"
                href="https://github.com/gitSean23/K.A.O.S."
                target="_blank"
            >
                <p>K.A.O.S</p>
                <div class="earth-circle">
                    <div class="moon"></div>
                </div>
            </a>
        </div>

        <div class="mars-contour">
            <a
                class="mars"
                href="https://github.com/gitSean23/APPA"
                target="_blank"
            >
                <p id="mars-text">APPA</p>
            </a>
        </div>

        <div class="jupiter-contour">
            <a
                class="jupiter"
                href="https://github.com/gitSean23/LunaSAT"
                target="_blank"
            >
                <p>LunaSAT</p>
            </a>
        </div>

        <div class="saturn-contour">
            <a
                class="saturn"
                href="https://github.com/gitSean23/WeatherBotjs"
                target="_blank"
            >
                <p id="saturn-text">Weather Bot</p>
            </a>
        </div>

        <div class="uranus-contour">
            <a
                class="uranus"
                href="https://github.com/gitSean23/KXR_MC"
                target="_blank"
            >
                <p id="uranus-text">KXR-MC</p>
            </a>
        </div>

        <div class="neptune-contour">
            <a
                class="neptune"
                href="https://www.linkedin.com/in/sean-feldman-262a6a219/"
                target="_blank"
            >
                <p>LinkedIn</p>
            </a>
        </div>
    </body>
</html>
