<ul>
    <li><a href="projects.astro">Projects</a></li>
    <li><a href="about.astro">About</a></li>
</ul>

<style>
    ul {
        list-style-type: none;
        padding: 20px;
        overflow: hidden;
        position: absolute;
        bottom: 550px;
        left: 1200px;
    }

    li {
        float: right;
    }

    li a {
        display: block;
        padding: 25px 10px;
        text-decoration: none;
    }
</style>
